* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $primary-background;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

header {
  display: flex;
  background-image: linear-gradient(
    to bottom,
    #09203f,
    #1b3454,
    #2d4a69,
    #3f607f,
    #537895
  );
  width: 100%;
  height: 350px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  position: relative;
  @media (min-width: 768px) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.65) 100%
      ),
      url("../img/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  h2 {
    color: #fff;
    font-size: 1.6rem;
    padding: 10px;
    line-height: 1.4;
  }

  .hamburger {
    width: 35px;
    top: 15px;
    right: 22px;
    cursor: pointer;
    position: absolute;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 9px 0;
  }
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding: 15px 0;
  color: #333;
}

.newsletter {
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  color: $accent-color;
}

.form {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;

  .signup-btn {
    position: absolute;
    width: 150px;
    background: $accent-color;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    margin-top: 65px;
  }
  input {
    position: absolute;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    width: 250px;
    flex-grow: 1;
    padding: 10px 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
  }
}

.choose {
  display: flex;
  justify-content: center;
  margin-top: 95px;
  font-size: 20px;
  color: #09203f;
}

.plans {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 42px;
  align-items: center;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  h2 {
    color: $accent-color;
    font-size: 20px;
    padding-bottom: 25px;
  }

  .col {
    background-color: $column-background;
    position: relative;
    width: 326px;
    border-radius: 10px;
    margin: 14px auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    padding: 10px 20px;
    line-height: 1.6;
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      max-width: 320px;
      margin-bottom: 15px;
    }

    h3 {
      display: flex;
      justify-content: start;
      font-size: 17px;
      padding: 5px 0px;
    }

    p {
      color: #72848e;
      font-size: 13px;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $features-link-color;
      font-size: 15px;
      padding-bottom: 10px;
    }

    a span {
      font-size: 20px;
      padding-left: 5px;
    }

    .most-popular {
      background-color: $accent-color;
      color: $column-background;
      font-size: 14px;
      border-radius: 5px;
      position: absolute;
      padding: 5px 12px;
      top: 10px;
      right: 22px;
    }

    ul {
      display: flex;
      flex-direction: column;
      line-height: 2;
      margin: 12px 0;
      font-size: 15px;
    }

    .price {
      font-weight: 600;
      font-size: 25px;
    }

    .per-month {
      font-size: 15px;
    }

    .buy-btn {
      width: 100%;
      background-color: $primary-btn-color;
      color: $column-background;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 20px;
      padding: 10px;
      cursor: pointer;
      outline: none;
      @media (min-width: 1024px) {
        margin-top: auto;
      }

      &:hover {
        transition: all 0.1s ease-in-out;
        transform: scale(1.1);
      }

      .popular-buy-btn {
        @include most-popular-plan;
      }
    }
  }
}

footer {
  background-color: #151f26;
  padding: 18px 0;
  margin-top: 25px;

  span {
    color: $column-background;
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 14px;
  }
}

// @media screen and (min-width: 1024px) {
// .plans {
//   display: flex;
//   flex-direction: row;
//   align-items: stretch;
// }

// .col {
//   display: flex;
//   flex-direction: column;
//   max-width: 320px;
//   margin-bottom: 15px;
// }

//   .buy-btn {
//     margin-top: auto;
//   }
// }
